<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>assign users to project</title>
</head>
<body>
  <h1>ASSIGN USERS TO THIS PROJECT</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages%}
  <div class="alert alert-danger" role="alert">
    {{ messages[0] }}
  </div>
  {% endif%}
  {% endwith %}
  <div>
    <h1>name: {{project.project_name}}</h1>
    <p>description: {{project.description}}</p>
  </div>
  <div>
    <h3>Assigned Users in this project</h3>
      {% for assigned_user in assigned%}
        <p>{{assigned_user.name}}</p>
      {% endfor%}
  </div>
  <div>
    <h1>Assign users</h1>
    <div>
      <form action="/AddToProject/{{project.id}}/search" method="POST">
        <input type="text" name="search" placeholder="name, email or role">
      </form>
    </div>
  </div>
</body>
</html>