{% extends "signup.html" %}


{% block title %}
<title>Login</title>
{% endblock %}

{% block content%}
<div class="container">
  <form action="/demologin" method="POST">
    <label for="account">Choose  Role For Demo Account</label>
    <select name="demo" id="account">
      <option value="A">Admin</option>
      <option value="PM">Project Manager</option>
      <option value="D">Developer</option>
    </select>
    <div style="text-align: center; padding-top: 2rem;">
      <input type="submit">
    </div>
  </form>
</div>
{% endblock %}