<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo user</title>
</head>
<body>
  <form action="/demologin" method="POST">
    <label for="account">Choose demo account</label>
    <select name="demo" id="account">
      <option value="A">Admin</option>
      <option value="PM">Project Manager</option>
      <option value="D">Developer</option>
    </select>
    <div>
      <input type="submit">
    </div>
  </form>
</body>
</html>