<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bugtracker</title>
</head>
<body>
  <h3>logged in as {{role}}</h1>
  <div>
    <h1>welcome {{current_user.name}}</h1>
    <ul>
      <li>search</li>
      <li>notifications</li>
    </ul>
  </div>
  <div>
    <ul>
      <a href=""><li>Manage role assignment</li></a>
      <a href=""><li>Manage project users</li></a>
      <a href=""><li>My projects</li></a>
      <a href=""><li>My tickets</li></a>
      <a href=""><li>user_profile</li></a>
    </ul>
  </div>
  

</body>
</html>