<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bugtracker</title>
</head>
<body>
  <h1>Bug Tracker</h1>
  <ul>
    <li>notifications</li>
    <li>access control</li>
    <li>customizable</li>
  </ul>
  <div>
    {% if not current_user.is_authenticated %}
    <ul>
      <a href="/login"><li>login</li></a>
      <a href="/signup"><li> register</li></a>
      <a href="/demologin">Try Demo Accounts</a>
    </ul>
    {% endif %}
  </div>
</body>
</html>