{% extends "base-site.html" %}

{% block title %} Forms{% endblock %} 

<!-- Specific Page CSS goes HERE  -->  
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div>
      <h2>Manage Project Users</h2>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    <div class="alert alert-danger" role="alert">
      {{ messages[0] }}
    </div>
    {% endif%}
    {% endwith %}
    
    {% for project in projects%}
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
              <h6 class="card-title">{{project.project_name}}</h6>
              <div>
                <a href="/AddToProject/{{project.id}}">Assign users</a> |
                <a href="/remove/{{project.id}}">Remove users</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
