<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage role</title>
</head>
<body>
  <h1>users in the database</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    <div class="alert alert-danger" role="alert">
      {{ messages[0] }}
    </div>
    {% endif%}
    {% endwith %}


    <div>
      {% for user in users %}
          <div class="form-popup" id="myForm">
            <form action="/assign/{{user.id}}" class="form-container" method="POST">
              <p>{{user.name}} - {{user.email}} - {{user.role}}</p>
              <select name="selection">
                <option value="SL">Select Role</option>
                <option value="Admin">Admin</option>
                <option value="Project manager">Project manager</option>
                <option value="Developer">Developer</option>
              </select>
              <button class="btn btn-dark">Change</button>
            </form>
          </div>
      {% endfor %}
    </div>
</body>
</html>