{% extends "base-site.html" %}

{% block title %} {{get_user.name}} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <div class="mdc-card">
          <h6>Name: {{get_user.name}}</h6>
          <h6>Email: {{get_user.email}}</h6>
          <h6>Role: {{get_user.role}}</h6>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}