{% extends "base-site.html" %}

{% block title %} Projects {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div style="text-align: center;">
    <h2>My Projects</h2>
  </div>

  {%if current_user.role == "Admin"%}
    <div>
      <a href="{{url_for('main.createproject')}}"><button type="button" class="btn btn-primary">CREATE NEW PROJECT</button></a>
    </div>
  {%endif%}
  
  {% with messages = get_flashed_messages() %}
  {% if messages%}
  <div class="alert alert-danger" role="alert">
    {{ messages[0] }}
  </div>
  {% endif%}
  {% endwith %}

  <div class="search" style="text-align: center;">
    <form action="/project/search" method="POST">
      <input type="text" name="search" placeholder="search projects">
    </form>
  </div>

  {% if projects | length > 0 %}
    {% for project in projects%}
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
              <h6 class="card-title">{{project.project_name}}</h6>
              <p>{{project.description}}</p>
              <div>
                {% if current_user.role == "Admin"%}
                <a href="{{ url_for('main.edit_project', idd=project.id) }}">edit</a> |
                <a href="/projects/delete/{{project.id}}">delete</a> |
                {%endif%}
                <a href="/details/{{project.id}}">details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
  {% else %}
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12">
            <div class="mdc-card">
              <h6>No assinged projects yet</h6>
            </div>
          </div>
        </div>
      </div>
  {% endif %}



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}