<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>projects</title>
</head>
<body>
  <div>
    <a href="{{url_for('main.createproject')}}"><button>CREATE</button></a>
  </div>
  <h1>My Projects</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages%}
  <div class="alert alert-danger" role="alert">
    {{ messages[0] }}
  </div>
  {% endif%}
  {% endwith %}
  {% for project in projects%}
    <div>
      <h3>{{project.project_name}}</h3>
      <a href="{{ url_for('main.edit_project', idd=project.id) }}">edit</a>
      <a href="/details/{{project.id}}">details</a>
    </div>
  {%endfor%}
</body>
</html>