<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Tickets</title>
</head>
<body>
  <div>
    <a href="{{url_for('main.createticket')}}"><button>CREATE NEW TICKET</button></a>
  </div>
  <div class="filter">
    <form action="/tickets/search" method="POST">
      <div>
        <label for="search">Search</label>
        <input type="text" id="search" placeholder="title or ref number" name="search">
      </div>
      <div>
        <label for="status">status</label>
        <select name="status" id="status">
          <option value="IN PROGRESS">IN PROGRESS</option>
          <option value="OPEN">OPEN</option>
          <option value="CLOSED">CLOSED</option>
          <option value="RESOLVED">RESOLVED</option>
        </select>
      </div>
        <button>Search</button>
      </div>
    </form>
    <form action="/tickets/priority" method="POST">
      <div>
        <label for="priority">Ticket Priority</label>
        <select name="priority" id="priority" required>
          <option value="NONE">None</option>
          <option value="LOW">Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>
      </div>
      <div>
        <button>filter by priority</button>
      </div>
    </form>
  </div>
  <h1>My TICKETS</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages%}
  <div class="alert alert-danger" role="alert">
    {{ messages[0] }}
  </div>
  {% endif%}
  {% endwith %}
  <div>
    {%for ticket in tickets %}
    <a href="/tickets/view/{{ticket.id}}">
      <div>
        <h3>title: {{ticket.title}}</h3>
        <p>description: {{ticket.description}}</p>
        <p>submitter: {{ticket.user_ticket.name}}</p>
        <p>project name: {{ticket.project_ticket.project_name}}</p>
        <p>assigned to: {{ticket.assigned_dev}}</p>
        <p>status: {{ticket.status}}</p>
        <p>priority: {{ticket.priority}}</p>
        <p>ticket type: {{ticket.ticket_type}}</p>
        <p>ref number: {{ticket.ref_num}}</p>
        <p>created on: {{ticket.date}}</p>
      </div>
    </a>
    <hr>
    {% endfor%}
  </div>
</body>
</html>