{% extends "base-site.html" %}

{% block title %} Ticket {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <section>
    <a href="/home">Dashboard</a>
    <- <a href="/mytickets">Tickets</a>
  </section>

  {% with messages = get_flashed_messages() %}
  {% if messages%}
  <div class="alert alert-danger" role="alert">
    {{ messages[0] }}
  </div>
  {% endif%}
  {% endwith %}

  {% if current_user.role != "Developer" %}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
          <div class="mdc-card">
            <div style="text-align: center;">
              <a href="/tickets/edit/{{ticket.id}}">Edit Ticket</a> |
              <a href="/tickets/delete/{{ticket.id}}">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%endif%}

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-card">
          <h6 class="card-title">{{ticket.title}}</h6>
          <p>Description: {{ticket.description}}</p>
          <p>Submitter: {{ticket.user_ticket.name}}</p>
          <p>Project name: {{ticket.project_ticket.project_name}}</p>
          <p>Assigned to: {{ticket.assigned_dev}}</p>
          <p>Status: {{ticket.status}}</p> <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter"> Change Status</button>
          <p>Priority: {{ticket.priority}}</p>
          <p>Ticket type: {{ticket.ticket_type}}</p>
          <p>Ref number: {{ticket.ref_num}}</p>
          <p>Created on: {{ticket.date.strftime("%d %m %Y")}}</p>  
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-card" style="text-align: center;">
          <h6 class="card-title">Comments</h6>
          <div>
            <form action="/tickets/view/{{ticket.id}}" method="POST" enctype="multipart/form-data">
              {{form.csrf_token}}
              <div>
                <label for="commnet">Comment</label>
                {{form.comment}}
              </div>
              <div>
                <label>Upload Image</label>
                {{form.image(class="form-control")}}
              </div>
             
              <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Submit</button>
            </form>
            <hr>
          </div>

          <div>
            {% for comment in comments%}
            {% if comment.user_comment.name == current_user.name %}
            <div>
              <small style="color: gray;">{{comment.user_comment.name}} - {{comment.user_comment.role}} - {{comment.date.strftime("%d %m %Y")}}</small>
              <p>{{comment.details}}</p>
              <img src="{{url_for('static', filename='ticketfiles/%s' % comment['image'])}}" alt=""
                style="width: 25%; height: 30%;">
              <a href="/tickets/comment/delete/{{ticket.id}}/{{comment.id}}"><button type="submit" class="btn btn-danger">delete</button></a>
            </div>
            {% else %}
            <div>
              <small style="color: gray;">{{comment.user_comment.name}} - {{comment.user_comment.role}} - {{comment.date.strftime("%d %m %Y")}}</small>
              <p>{{comment.details}}</p>
              <img src="{{url_for('static', filename='ticketfiles/%s' % comment['image'])}}" alt=""
                style="width: 25%; height: 30%;">
            </div>
            {%endif%}
            <hr>
            {% endfor %}
          </div>
          
        </div>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-card">
          <h6 class="card-title">Ticket history</h6>
          <div>
            {% for h in history%}
            <div>
              <small>{{h.details}}</small>
              <small> on {{h.date.strftime("%d %m %Y")}}</small>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ticket status pop up-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Change Ticket Status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/tickets/request/{{ticket.id}}" method="POST">
            <fieldset class="status">
              <label for="status">Status</label>
              <select name="status" id="status">
                <option value="N">{{ticket.status}}</option>
                <option value="IN PROGRESS">IN PROGRESS</option>
                <option value="OPEN">OPEN</option>
                <option value="CLOSED">CLOSED</option>
                <option value="RESOLVED">RESOLVED</option>
              </select>
            </fieldset>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="form-button">Save changes</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function(){
      $('form').on('submit', function (e) {
        var formData = $(form).serialize();
        $.ajax({
          data: formData,
          type: form.attr('method'),
          url: form.attr('action')
        })
        .done(function (data) {
          if (data.error) {
            console.log("data");
          }
          else {
            console.log("data");
          }
        });
        event.preventDefault();
      });
    });
  </script>
    
{% endblock javascripts %}