<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Tickets</title>
</head>
<body>
  <div>
    <a href="{{url_for('main.createticket')}}"><button>CREATE NEW TICKET</button></a>
  </div>
  <h1>My TICKETS</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages%}
  <div class="alert alert-danger" role="alert">
    {{ messages[0] }}
  </div>
  {% endif%}
  {% endwith %}
  <div>
    {%for ticket in tickets %}
    <h3>title: {{ticket.title}}</h3>
    <p>description: {{ticket.description}}</p>
    <p>submitter: {{ticket.user_ticket.name}}</p>
    <p>project name: {{ticket.project_ticket.project_name}}</p>
    <p>assigned to: {{ticket.assigned_dev}}</p>
    <p>status: {{ticket.status}}</p>
    <p>priority: {{ticket.priority}}</p>
    <p>ticket type: {{ticket.ticket_type}}</p>
    <p>ref number: {{ticket.ref_num}}</p>
    <p>created on: {{ticket.date}}</p>
    <hr>
    {% endfor%}
  </div>
</body>
</html>