{% extends "base-site.html" %}

{% block title %} My Tickets {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages%}
  <div class="alert alert-danger" role="alert">
    {{ messages[0] }}
  </div>
  {% endif%}
  {% endwith %}

  <h3 style="text-align: center;">My TICKETS</h3>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <div class="mdc-card">
          <div style="text-align: center;">
            {% if current_user.role != "Developer" %}
              <a href="{{url_for('main.createticket')}}"><button type="button" class="btn btn-primary">CREATE NEW TICKET</button></a>
            {%endif%}
          </div>
          <div class="filter" style="padding-top: 1.1rem;">
            <form action="/tickets/search" method="POST">
              <div style="padding-bottom: 1rem;">
                <label for="search">Search</label>
                <input type="text" id="search" placeholder="title or ref number" name="search">
              </div>
              <div>
                <label for="status">status</label>
                <select name="status" id="status">
                  <option value="IN PROGRESS">IN PROGRESS</option>
                  <option value="OPEN">OPEN</option>
                  <option value="CLOSED">CLOSED</option>
                  <option value="RESOLVED">RESOLVED</option>
                </select>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>
            <form action="/tickets/priority" method="POST" style="float: right;">
              <div>
                <label for="priority">Ticket Priority</label>
                <select name="priority" id="priority" required>
                  <option value="NONE">None</option>
                  <option value="LOW">Low</option>
                  <option value="MEDIUM">Medium</option>
                  <option value="HIGH">High</option>
                </select>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">filter by priority</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  {% if current_user.role != "Developer"%}
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <div class="mdc-card">
          <div>
            <h6 style="text-align: center;">Tickets You Assinged</h6>
            {% if mytickets | length < 1 %}
              <p style="text-align: center;">empty data field</p>
            {%else%}
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-left">Title</th>
                      <th>Description</th>
                      <th>Created</th>
                      <th>Submitter</th>
                      <th>Status</th>
                      <th>Assigned To</th>
                      <th>Priority</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for t in mytickets%}
                      <tr>
                        <td class="text-left"><a href="/tickets/view/{{t.id}}">{{t.title}}</a></td>
                        <td>{{t.description}}</td>
                        <td>{{t.date.strftime("%d %m %Y")}}</td>
                        <td>{{t.user_ticket.name}}</td>
                        <td>{{t.status}}</td>
                        <td>{{t.assigned_dev}}</td>
                        {% if t.priority == 'HIGH'%}
                        <td style="color: red;">{{t.priority}}</td>
                        {% elif t.priority =='LOW'%}
                        <td style="color: green;">{{t.priority}}</td>
                        {% else %}
                        <td style="color: orange;">{{t.priority}}</td>
                        {%endif%}
                      </tr>

                    {%endfor%}
                  </tbody>
                </table>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endif%}



  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <div class="mdc-card">
          {% if current_user.role != 'Developer'%}
            <h6 style="text-align: center;"> All Tickets</h6>
          {%else%}
            <h6 style="text-align: center;"> Your Tickets</h6>
          {%endif%}
            {% if tickets | length < 1 %}
              <p style="text-align: center;">empty data field</p>
            {%else%}
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-left">Title</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Submitter</th>
                    <th>Status</th>
                    <th>Assigned To</th>
                    <th>Priority</th>
                  </tr>
                </thead>
                <tbody>
                  {%for ticket in tickets %}
                    <tr>
                      <td class="text-left"><a href="/tickets/view/{{ticket.id}}">{{ticket.title}}</a></td>
                      <td>{{ticket.description}}</td>
                      <td>{{ticket.date.strftime("%d %m %Y")}}</td>
                      <td>{{ticket.user_ticket.name}}</td>
                      <td>{{ticket.status}}</td>
                      <td>{{ticket.assigned_dev}}</td>
                      {% if ticket.priority == 'HIGH'%}
                        <td style="color: red;">{{ticket.priority}}</td>
                      {% elif ticket.priority =='LOW'%}
                        <td style="color: green;">{{ticket.priority}}</td>
                      {% else %}
                        <td style="color: orange;">{{ticket.priority}}</td>
                      {%endif%}
                    </tr>
  
                  {%endfor%}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>





{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}